%table
  %tr
    %th Title
    %th Artis
    %th Album
    %th Genre
    %th &nbsp;
  %tr
    %td= @song.title
    %td= @song.artist
    %td= @song.album
    %td= @song.genre
    %td= link_to "Download",
         {:controller=>'songs', :action=>'download', :id=>"#{@song.id}#{File.extname(@song.location)}"},
         {:class=>'media'}